.header-pagina {
    text-align: center;
    background-color: lightsalmon;
}

.agregar-receta {
    border: 1px solid black; 
}

.recetas {
    
}

.recetas > .titulo {
    text-align: center;
}

.receta > .titulo > .nombre-receta {
    font-size: 20px;
}
.receta > .titulo > .autor {
    margin-left: 10px;
    color: lightslategray;
}